In [11]:
#This ipynb file utilizes gmaps api to produce a heatmap using the output file created in the first part of the
#challenge (cities.csv file which can be found in the "Weather_Database" folder). Honestly, this code seems
#hit-or-miss in whether it works or not. The heatmap feature worked in the class activity but didn't work in the
#code provided in section 6.5.2 Create Heatmaps for Weather Parameters. The TAs themselves can't even figure out why
#this bootcamp code works sometime and not others. I showed it to a TA and they couldn't figure it out so they just
#gave me the solution code. I'm going to submit it back to them with a clear conscience considering I've done
#everything in God's green earth to get someone to actually "teach" me how to write and troubleshoot this code, but
#that's not the focus of this course. The focus is to copy and paste code. So I'm going to do that.

In [12]:
#*****************************************************************************
#6.5.2 - Create Heatmaps for Weather Parameters
#*****************************************************************************
#See section 6.5.2 - Create Heatmaps for Weather Parameters for the source of this section of code. This section of
#code will get the data from the csv file and dump it into a dataframe.

In [13]:
#*******
#6.5.2
#*******
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
#*******
#6.5.2
#*******
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,35.71,55,40,19.08,scattered clouds
1,1,Pemangkat,ID,1.1667,108.9667,77.41,89,100,5.21,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,54.09,86,97,20.38,light rain
3,3,Pangai,TO,-19.8000,-174.3500,78.91,69,75,2.30,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.95,86,96,20.65,overcast clouds

In [15]:
#*****************************************************************************
#6.5.3 - Get Vacation Criteria
#*****************************************************************************
#This section of code collects user input (minimum and maximum temperatures for the planned vacation),
#filters the city dataframe down to fit that criteria, ad dumps the results into a new dataframe
#(preferred_cities_df). So the number cities drops even further.

In [16]:
#*******
#6.5.3
#*******
# 2. Prompt the user to enter minimum and maximum temperature criteria.. 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

In [17]:
#*******
#6.5.3
#*******
# 3. Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pemangkat,ID,1.1667,108.9667,77.41,89,100,5.21,overcast clouds
3,3,Pangai,TO,-19.8000,-174.3500,78.91,69,75,2.30,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.95,86,96,20.65,overcast clouds
8,8,San Marcos De Colon,HN,13.4333,-86.8000,89.33,24,25,6.08,scattered clouds
13,13,Pemba,MZ,-12.9740,40.5178,75.45,70,0,4.03,clear sky
14,14,Kudahuvadhoo,MV,2.6708,72.8944,83.95,71,96,21.03,overcast clouds
16,16,Oriximina,BR,-1.7656,-55.8661,79.88,79,35,2.64,scattered clouds
18,18,Hilo,US,19.7297,-155.0900,81.81,72,20,11.50,few clouds
19,19,Tiznit,MA,29.5833,-9.5000,80.26,33,100,5.30,overcast clouds
27,27,Oranjestad,AW,12.5240,-70.0270,84.15,69,20,8.01,few clouds

In [18]:
#*******
#6.5.3
#*******
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             218
City                   218
Country                218
Lat                    218
Lng                    218
Max Temp               218
Humidity               218
Cloudiness             218
Wind Speed             218
Current Description    218
dtype: int64

In [19]:
#*******
#6.5.3
#*******
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pemangkat,ID,1.1667,108.9667,77.41,89,100,5.21,overcast clouds
3,3,Pangai,TO,-19.8000,-174.3500,78.91,69,75,2.30,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.95,86,96,20.65,overcast clouds
8,8,San Marcos De Colon,HN,13.4333,-86.8000,89.33,24,25,6.08,scattered clouds
13,13,Pemba,MZ,-12.9740,40.5178,75.45,70,0,4.03,clear sky

In [20]:
#*******
#This just seems some extranneous code for validating whether there are any null values in the dataset
#*******
clean_travel_cities.count()

Unnamed: 0             218
City                   218
Country                218
Lat                    218
Lng                    218
Max Temp               218
Humidity               218
Cloudiness             218
Wind Speed             218
Current Description    218
dtype: int64

In [21]:
#*******
#This just seems some extranneous code for collecting field names
#*******
clean_travel_cities.columns

Index(['Unnamed: 0', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description'],
      dtype='object')

In [22]:
#*****************************************************************************
#6.5.4 - Map Vacation Criteria
#*****************************************************************************
#So this segment of code creates a new dataframe with all the city data collected so far and creates
#a new "column" in which hotel information will be stored. The code is going to take the coordinates
#for each city entry and bump that against googleapis to identify the closest hotel to those
#coordinates. The results of that search will dump the "Hotel Name" column. The googleapis tool utilizes
#an api key that was created for this exercise. Basiccally, I went to https://cloud.google.com/maps-platform/ and
# craeted a project "GWUBootCampMod06". There is also a "Credentials" section where I created an API key
#(presumably just for the project). That API key is hardcoded in the config file. In the API section we had to 
#enable four APIs ("Directions API", "Geocoding API", "Maps JavaScript API", and "Places API"). So, the way this
#thing seems to work is: every time this ipnyb file is run, it uses the API key to access the enabled APIs of the
#GWUBootCampMod06 project in order to collect the hotel data for each city in the dataframe. Now, what do the
#4 different APIs in the project do...? I don't know. They just told us to enable them. So I clicked on them like
# a good little boy.

In [23]:
#*******
#6.5.4
#*******
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name".
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemangkat,ID,77.41,overcast clouds,1.1667,108.9667,
3,Pangai,TO,78.91,broken clouds,-19.8000,-174.3500,
4,Rikitea,PF,76.95,overcast clouds,-23.1203,-134.9692,
8,San Marcos De Colon,HN,89.33,scattered clouds,13.4333,-86.8000,
13,Pemba,MZ,75.45,clear sky,-12.9740,40.5178,
14,Kudahuvadhoo,MV,83.95,overcast clouds,2.6708,72.8944,
16,Oriximina,BR,79.88,scattered clouds,-1.7656,-55.8661,
18,Hilo,US,81.81,few clouds,19.7297,-155.0900,
19,Tiznit,MA,80.26,overcast clouds,29.5833,-9.5000,
27,Oranjestad,AW,84.15,few clouds,12.5240,-70.0270,

In [24]:
#*******
#6.5.4
#*******
# 6a. Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():

    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
#*******
#6.5.4
#*******
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemangkat,ID,77.41,overcast clouds,1.1667,108.9667,Ramah Kost KITA
3,Pangai,TO,78.91,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
4,Rikitea,PF,76.95,overcast clouds,-23.1203,-134.9692,Pension Maro'i
8,San Marcos De Colon,HN,89.33,scattered clouds,13.4333,-86.8000,Hotel Colonial
13,Pemba,MZ,75.45,clear sky,-12.9740,40.5178,Guesthouse Samotina
14,Kudahuvadhoo,MV,83.95,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives
16,Oriximina,BR,79.88,scattered clouds,-1.7656,-55.8661,Pousada Tia Amélia
18,Hilo,US,81.81,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Tiznit,MA,80.26,overcast clouds,29.5833,-9.5000,
27,Oranjestad,AW,84.15,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemangkat,ID,77.41,overcast clouds,1.1667,108.9667,Ramah Kost KITA
3,Pangai,TO,78.91,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
4,Rikitea,PF,76.95,overcast clouds,-23.1203,-134.9692,Pension Maro'i
8,San Marcos De Colon,HN,89.33,scattered clouds,13.4333,-86.8000,Hotel Colonial
13,Pemba,MZ,75.45,clear sky,-12.9740,40.5178,Guesthouse Samotina
14,Kudahuvadhoo,MV,83.95,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives
16,Oriximina,BR,79.88,scattered clouds,-1.7656,-55.8661,Pousada Tia Amélia
18,Hilo,US,81.81,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Oranjestad,AW,84.15,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
33,Akdepe,TM,82.40,clear sky,42.0551,59.3788,Мой дом

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
#*******
#6.5.4
#*******
#This code can be found under "Create a Maximum Temperature Heatmap from a Hotel DataFrame" in 6.5.4

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))