## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
#This ipynb file utilizes the data collected into the WeatherPy_vacation.csv file created in the two previous
#segments of the module 6 challenge. This ipynb file collects that data and, I guess, re-creates the map
#from the Vacation_Search.ipynb. Then from there, the programmer hardcodes 4 locations into the program for use
#use as starting, mid, and end points for the vacation. You know, you have to wonder why they didn't put user prompts
#into this code for that kid of data collection. I mean, we already did user inputs in the Vacation_Search.ipynb
#file, right? I mean, why not use the same method again? Makes sense. Oh well.

In [2]:
#*****************************************************************************
#6.5.2 - Create Heatmaps for Weather Parameters
#*****************************************************************************
#See section 6.5.2 - Create Heatmaps for Weather Parameters for the source of this section of code. This section of
#code will get the data from the csv file and dump it into a dataframe.

# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
#*******
#6.5.2
#*******
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Pemangkat,ID,77.41,overcast clouds,1.1667,108.9667,Ramah Kost KITA
1,3,Pangai,TO,78.91,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
2,4,Rikitea,PF,76.95,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,8,San Marcos De Colon,HN,89.33,scattered clouds,13.4333,-86.8000,Hotel Colonial
4,13,Pemba,MZ,75.45,clear sky,-12.9740,40.5178,Guesthouse Samotina

In [4]:
#*******
#6.5.2
#*******
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
#*******
#6.5.2
#*******
# 4a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacay_start_end = str(input("Where would you like your vacation to start and end? "))
vacay_stop1 = str(input("What will be the first stop on your vacation? "))
vacay_stop2 = str(input("What will be the second stop on your vacation? "))
vacay_stop3 = str(input("What will be the third stop on your vacation? "))

Where would you like your vacation to start and end? Lenoir
What will be the first stop on your vacation? Key West
What will be the second stop on your vacation? Dallas
What will be the third stop on your vacation? Fortuna

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# vacation_start = vacation_df.loc[vacation_df["City"] == "Oyama"]
# vacation_end = vacation_df.loc[vacation_df["City"] == "Oyama"]
# vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Nishihara"]
# vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"] 
# vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Shimoda"]

vacation_start = vacation_df.loc[vacation_df["City"] == vacay_start_end]
vacation_end = vacation_df.loc[vacation_df["City"] == vacay_start_end]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacay_stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacay_stop2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacay_stop3]

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {vacation_stop1}, Stop 2: {vacation_stop2}, Stop 3: {vacation_stop3}')

Start: (35.2335, -77.6497), End: (35.2335, -77.6497)
Stop 1:      City_ID      City Country  Max Temp Current Description      Lat  \
151      512  Key West      US      84.2    scattered clouds  24.5557

         Lng                                   Hotel Name
151 -81.7826  Fairfield Inn & Suites by Marriott Key West  , Stop 2:      City_ID    City Country  Max Temp Current Description      Lat      Lng  \
126      443  Dallas      US     86.14       broken clouds  32.7668 -96.7836

                Hotel Name
126  CANVAS Hotel | Dallas  , Stop 3:     City_ID     City Country  Max Temp Current Description      Lat       Lng  \
78      271  Fortuna      US     80.19    scattered clouds  40.5982 -124.1573

                    Hotel Name
78  Super 8 by Wyndham Fortuna

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,497,Lenoir,US,87.93,broken clouds,35.2335,-77.6497,"Holiday Inn Express & Suites Kinston, an IHG H..."
1,512,Key West,US,84.20,scattered clouds,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
2,443,Dallas,US,86.14,broken clouds,32.7668,-96.7836,CANVAS Hotel | Dallas
3,271,Fortuna,US,80.19,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))